<h1>
	Hello
</h1>
<p>
	This is an example site for various projects I'm working on!
</p>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<!-- pictures of the pool guy in action. maybe in a bootstrap carousel -->
		</div>
		<div class="col-md-4">
			<!-- bio of pool man possibly? -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<!-- something in the middle -->
		</div>
		<div class="col-md-4">
			<!-- something in the middle -->
		</div>
		<div class="col-md-4">
			<!-- something in the middle -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<!-- contact information -->
		</div>
		<div class="col-md-6">
			<!-- cert info and picture -->
		</div>
	</div>
</div>