<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">
				Hello and Welcome!
			</h1>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="profile-image">
				<img src="/assets/adam.jpg" alt="face" class="img-rounded">
			</div>
		</div>
		<div class="col-md-8 text-center">
			<!-- something in the middle -->
			My name is Adam Lopez.  I am a graduate of Ironhack coding bootcamp in Miami, Florida.  Learning to code has been an extrodinary experience for me
			and I accepted the challenge of learning under pressure.  I have been involved in design since high school, attending a Commercial Art program at a magnet school. It has been my true passion and I look forward to working with clients to provide them the best looking product for their users.
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a href="/showcase" class="showcase">Showcase</a>
		</div>
		<div class="col-md-6">
			<!-- cert info and picture -->
		</div>
	</div>
</div>