<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div>
				<img class="profile-image" src="/assets/adam.jpg" alt="face" class="img-rounded">
			</div>
		</div>
		<div class="col-md-8 text-center">
			<h1>
				Hello and Welcome!
			</h1>
			<br>
			<div class="lead bio">
				My name is Adam Lopez.  I am a graduate of Ironhack coding bootcamp in Miami, Florida.  Learning to code is an extrodinary experience for me, like playing with Lego's in a dimension that has an infinant amount of blocks.  I have been involved in design since high school, attending a Commercial Art program at Tampa Bay Technical High School. It has been my true passion and I look forward to working with clients to provide them the best products for their users.
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="middle">
				
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6">
			<div>
				I have learned a variety of frameworks and tools to help me along my path to becoming an excellent developer.  Some of those frameworks include but are not limited to:
			</div>
			<div>
				<table style="width:100%">
					<tr>
						<td>
							Ruby
						</td>
						<td>
							JavaScript
						</td>
						<td>
							HTML
						</td>
						<td>
							CSS
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-md-6">
			
		</div>
	</div>
</div>