// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gradient {
	background: linear-gradient(to bottom right, #deb887, #f5f5dc ); /* Standard syntax */
	margin-top: -20px;
	margin-bottom: -40px;
	border-bottom: thick solid black;
}


.bio {
	outline: 2px solid black;
	box-shadow: 3px 3px 5px black;
	margin-right: 20px;
	margin-bottom: 60px;
	background: linear-gradient(to bottom right, #f5f5dc, #deb887); /* Standard syntax */
}

.profile-image {
	margin-left: 50px;
	border-style: solid;
	border-width: 5px;
	border-radius: 5px;
	margin-top: 30px;
}

.showcase {
	margin-top: 30px;
	padding-bottom: 30px;
	background: linear-gradient(to bottom right, white, #337AB7); /* Standard syntax */
}

.bottom {
	background-color: #337AB7;

}

#success_message{ display: none;}

.lang {
	
}

.show-button {
	margin: auto;
	text-align: center;
}